<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newchinese.smartmeeting">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 获取地址权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- SD卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 录屏权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 友盟分享 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.login.activity.WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <service android:name=".ui.meeting.service.RecordService" />

        <activity
            android:name=".ui.meeting.activity.DraftBoxActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.login.activity.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/regist_title"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.login.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/login_title"
            android:launchMode="singleTask"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.meeting.activity.DrawingBoardActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.record.activity.CollectPageListActivity" />
        <activity android:name=".ui.record.activity.CollectPageDetailActivity" />
        <activity android:name=".ui.record.activity.CollectRecordFilterActivity" />
        <activity android:name=".ui.meeting.activity.RecordPlayActivity" />
        <activity android:name=".ui.meeting.activity.PlayBackActivity" />
        <activity android:name=".ui.meeting.activity.RecordLibActivity" />

        <!-- 分享需要的activity -->
        <activity android:name=".wxapi.WXEntryActivity" />
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- <activity android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation" -->
        <!-- android:exported="false" -->
        <!-- android:windowSoftInputMode="adjustResize"> -->


        <!-- </activity> -->
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.mine.activity.FBActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/fb_title"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.mine.activity.UpdateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="修改昵称"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.mine.activity.AboutActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="关于我们"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.mine.activity.DealActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="服务条款与协议"
            android:launchMode="singleTop"
            android:screenOrientation="sensorPortrait" />
        <activity android:name=".ui.mine.activity.SettingActivity" />
        <activity android:name=".ui.mine.activity.ChangeNickNameActivity" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59bb65ef5312dd369b000294" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />

        <activity android:name=".ui.login.activity.GuideActivity"></activity>
    </application>

</manifest>